{% extends 'axf/base.html' %} {% load static from staticfiles %} {% block linkscript %}
<link rel="stylesheet" type="text/css" href="{% static 'mine/css/login.css' %}" />
<script type="text/javascript" src="{% static 'mine/js/login.js' %}"></script>
{% endblock linkscript %} {% block blockbase %}

<div id="login">
	<a href="/mine/"><p>&gt;返回</p></a>
	
	<div id="box">
		<form action="/login/" method="post">
            {% csrf_token %}
			<div class="input-group">
				账号：{{form.username}}
				<br />
				{% if error.username.0 %}
				<span>{{error.username.0}}</span>
				{% endif %}
			</div>
			
				<div class="input-group">
				密码：{{form.password}}
				<br />
				{% if error.password.0 %}
				<span>{{error.password.0}}</span>
				{% endif %}
			</div>
			
			<input type="submit" value="登陆"/>
		</form>
	</div>
	
</div>

{% endblock blockbase %}